nav.top {
	/* padding-top: 3px; */
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7e7e7;
	/* width: 15px; */
}

nav.top a.logo {
	color:dimgray;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

nav.top a {
	color: #999;
	margin: 0px 10px 0px 10px;
}


nav.top span {
	color: #999;
	margin: 0px 10px 0px 10px;
}

a {
	/* color: #999; */
	text-decoration:none
}

.pull-right{float: right}

body {
	font-family: arial;
}

img.carouselImage {
	margin-top:20px;
	width: 1000px;
	height: 510px !important;
}

div.Top3Title {
text-align: center;
font-size: 16px;
margin-top: 20px;
color: #646464;
font-weight: bold;
}

div.homepageTop3Pictures {

margin:0 auto;
width:1300px;
display: block;

}
div.EachPicture {

width: 200px;
height: 400px;
/* border: 1px solid red; */
background-color: white;
margin: 30px 100px;
float: left;
cursor: pointer;

}

div.EachPicture img {
width: 150px;
height: 150px;
}

div.EachPicture span.pictureTitle {
font-size: 15px;
font-weight: bold;
color: #3a3839;
display: block;
text-align: center;
margin-top: 15px;
}

div.EachPicture span.pictureArtist {
font-size: 10px;
color: #616060;
display: block;
/*padding-left: 16px;*/
text-align: center;
}

div.EachPicture span.pictureDescription {
font-size: 8px;
color: #CCCCCC;
display: block;
/*padding-left: 16px;*/
margin-top: 10px;
text-align: center;
}
div.footer {
	margin: 0px 0px;
	border-top-style: solid;
	border-top-width: 550px;
	border-top-color: solid;
	border-top-color: #ffffff;
	display: block;
}
div.copyright {
    background-color: black;
    text-align: center;
}

div.copyright span {
    color: white;
}

div.ImgandInfo {
    margin-top: 50px;
}

div.ImgandInfo div.Img {
    width: 400px;
    float: left;
}
div.ImgandInfo img.bigImg {
    width: 400px;
	height: 400px;
	padding: 20px;
	/* border: 1px solid #cc5050; */
}

div.Info {
	padding-left: 100px;
    /* border: 1px solid #cc5050; */
	overflow: hidden;
}

div.Info div.Info_Title {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 10px;
}

div.Info div.Info_Artist {
	color: rgb(175, 174, 174);
	font-size: 12px;
	/* font-weight: bold; */
	margin: 5px 10px;
}

div.buyDiv {
	margin: 20px auto;
	text-align: center;
}

button.addCartButton {
	border: 1px solid #C40000;
	background-color: #C40000;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	/* 	font-weight:700; */
	color: white;

}

div.Info div.Info_other {
    display: block;
    border:1px solid slategray;
    border-radius: 5px; /*圆角边框*/
    background-color: rgb(216, 214, 214);

    font-size: 13px;
}


div.Info div.Info_Price {
    margin:20px auto;

}

div.Info span.PriceUnit {

	font-size: 18px;
	color: #C40000;
	/*     vertical-align: top; */
}

div.Info span.PriceValue {
    color: #c40000;

	font-size: 30px;
	font-weight: bold;
}
/*Login.html*/
table.loginTable, table.registerTable {
	color: #3C3C3C;
	font-size: 16px;
	table-layout: fixed;
	margin-top: 50px;
}
div.login_acount_text {
	margin-top:20px;
}

input {
	width: 275px;
	border: 1.5px solid;
	border-radius: 5px;
	height: 30px;
	margin: 1px;
	outline:none;
}

table.loginTable td {
	padding: 8px 20px;
}

table.registerTable td {
	padding: 8px 20px;
}

td.loginTableLeftTD {

	font-size: 10px;
	color:black;
	
}

button.signInBtn {
	margin-top: 10px;
	background-color: rgb(7, 7, 7);
	border: none;
	height: 30px;
	width: 280px;
	color: floralwhite;
}

div.SignUpEntry {

	font-size: 12px;
	margin-top: 10px;
	text-align: center;

}