@font-face {
	font-family: mango;
	src: url("../font/Mango.otf") format("truetype");
}

@font-face {
	font-family: sofia-pro;
	src: url("../font/Sofia/Sofia\ Pro\ Regular\ Az.otf") format("truetype");
}

@media (max-width: 600px) {
	div.logo span {
		display: none;
	}
	header {
		height: 14em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header div.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
	}
	nav {
		display: flex;
		padding: 0px;
	}
	nav>ul {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	nav li.nav-item {
		text-align: center;
	}
	div.homepageTop3Pictures {
		display: flex;
		flex-direction: column;
		width: auto;
	}
	div.EachPicture {
		width: auto !important;
	}
}

button {
	border: transparent;
	background-color: white;
	cursor: pointer;
}

img {
	max-width: 100%;
}

header {
	background: 0 0!important;
}

i {
	padding: 2px;
	font-style: normal;
	font-size: 20px;
}

header .wrapper {
	position:relative;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7e7e7;
	/* width: 15px; */
	height: 45px;
	/* line-height: 45px; */
}

div.logo {
	float: left;
	font-size: 14px;
}

header a.logo {
	color: dimgray;
	font-family: mango;
	font-weight: lighter;
	font-size: 16px;
	margin: 0px 10px 0px 10px;
}

header a {
	color: #999;
	margin: 0px 10px 0px 10px;
}

header a:hover {
	color: #C40000;
}

header div.smallSearchDiv {
	margin: 0px 20px;
	height: 30px;
	display: flex;
	border: 1px solid;
	border-radius: 5px;
	width: 250px;
	background-color: whitesmoke;
}

header form {
	margin-left: 15%;
}

header input {
	width: calc(100% - 50px);
	border: 1px transparent;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

header button {
	color: white;
	background-color: dimgray;
}

header button svg {
	color: white;
	font-weight: bold;
	height: 25px;
}

header {
	padding: 10px 0px;
	margin-bottom: 10px;
}

.flex {
	display: flex;
}

.wrapper {
	flex-wrap: nowrap;
	align-items: center;
}

nav ul {
	display: flex;
    position: absolute;
    right: 0px;
    top: 7px;
}

nav li.nav-item {
	color: #999;
	padding: 0 8px;
	font-size: 16px;
}

a {
	/* color: #999; */
	text-decoration: none
}

ol, ul {
	list-style-type: none;
	list-style-image: none;
}

.pull-right {
	float: right
}

body {
	font-family: sofia-pro;
	line-height: 200%;
	margin: 0px 18px;
	color: #999;
}

/*carousel*/

.viewport {
	position: relative;
	overflow: hidden;
}

a,
        ul,
        li {
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

		.viewport {
			width: 900px;
			height: 500px;
			margin:10px auto;
			position: relative;
			/* overflow: hidden; */
		}
		.navs {
			width: 4500px;
			height: 100%;
			position: absolute;
			top: 0px;
			left:-900px;
		}

		.navs li {
			width: 900px;
			height: 100%;
			float: left;
		}
		.navs li img {
            width: 100%;
            height: 100%;
        }

		.bots {
			width:100%;
			display: flex;
			justify-content: center;
			height: 30px;
			background: rgba(0, 0, 0, .3);
			position: absolute;
			bottom:0;
			left:0;
		}

		.bots li.bot {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			/* position: relative;
			top: 10px;
			left: 350px; */
			background-color: whitesmoke;
			/* float: left; */
			margin-left: 25px;
			margin-top: 8px;
			float: left;
		}

		.bots li.active {
			background-color: red;
		}

div.Top3Title {
	/* display: inline-block; */
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	color: #646464;
	font-weight: bold;
}

div.homepageTop3Pictures {
	margin: 0 auto;
	width: 100%;
	/* height: 600px; */
	display: flex;
	justify-content: space-between;
}

div.EachPicture {
	display: flex;
	flex-direction: column;
	width: 30%;
	/* border: 1px solid red; */
	background-color: white;
	margin: 30px 60px;
	vertical-align: top;
}

div.EachPicture a:hover {
	color: firebrick;
}

div.EachPicture img {
	width: 150px;
	height: 150px;
}

div.EachPicture span.pictureTitle {
	font-size: 15px;
	font-weight: bold;
	color: #3a3839;
	display: block;
	text-align: center;
	margin-top: 10px;
}

div.EachPicture span.pictureArtist {
	font-size: 10px;
	color: #616060;
	display: block;
	/*padding-left: 16px;*/
	text-align: center;
}

div.EachPicture span.pictureDescription {
	font-size: 8px;
	color: #CCCCCC;
	display: block;
	/*padding-left: 16px;*/
	margin-top: 5px;
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

footer.footer {
	margin: 0px 0px;
	/* border-top-style: solid;
	border-top-width: 55px;
	border-top-color: solid;
	border-top-color: #ffffff; */
	display: block;
}

footer div.copyright {
	background-color: black;
	text-align: center;
}

div.copyright span {
	color: white;
}

div.ImgandInfo {
	margin-top: 50px;
}

div.ImgandInfo div.Img {
	width: 400px;
	float: left;
}

div.ImgandInfo img.bigImg {
	width: 400px;
	height: 400px;
	padding: 20px;
	/* border: 1px solid #cc5050; */
}

div.Info {
	position: relative;
	padding-left: 100px;
	/* border: 1px solid #cc5050; */
	overflow: hidden;
}

div.Info div.Info_Title {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 10px;
}

div.Info div.Info_Artist {
	color: rgb(175, 174, 174);
	font-size: 12px;
	margin: 5px 10px;
}

div.Info div.Info_Artist a {
	text-decoration: underline;
	font-size: 14px;
	color: red;
}

div.Info div.Info_Artist a:hover {
	color: firebrick;
}

div.buyDiv {
	margin: 20px auto;
	text-align: center;
}

button.addCartButton {
	border: 1px solid #C40000;
	background-color: #C40000;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	padding: 2px;
	/* 	font-weight:700; */
	color: white;
	display: none;
}

button.deleteButton {
	border: 1px solid #C40000;
	background-color: #C40000;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	padding: 2px;
	/* 	font-weight:700; */
	color: white;
	display: none;
}

div.Info div.Info_other {
	display: block;
	border: 1px solid slategray;
	border-radius: 5px;
	/*圆角边框*/
	background-color: rgb(216, 214, 214);
	font-size: 13px;
}

div.Info div.Info_Price {
	margin: 20px auto;
}

div.Info span.PriceUnit {
	font-size: 18px;
	color: #C40000;
	/*     vertical-align: top; */
}

div.Info span.PriceValue {
	color: #c40000;
	font-size: 30px;
	font-weight: bold;
}

/*Login.html*/

table.loginTable, table.registerTable {
	color: #3C3C3C;
	font-size: 16px;
	table-layout: fixed;
	margin-top: 50px;
}

div.login_acount_text {
	margin-top: 20px;
}

table.loginTable input, table.registerTable input {
	width: 275px;
	border: 1.5px solid;
	border-radius: 5px;
	height: 30px;
	margin: 1px;
	outline: none;
}

table.loginTable td, table.registerTable td {
	padding: 8px 20px;
}

td.loginTableLeftTD {
	font-size: 10px;
	color: black;
}

button.signInBtn {
	margin-top: 10px;
	background-color: rgb(7, 7, 7);
	border: none;
	height: 30px;
	width: 280px;
	color: floralwhite;
}

div.SignUpEntry {
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
}

/*search.html*/

.site_width {
	min-height: 600px;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

div.searchDiv {
	background-color: rgb(146, 143, 143);
	width: 500px;
	margin: 50px auto;
	padding: 1px;
	height: 40px;
	display: block;
	/* border-radius:8px; */
}

div.searchDiv input {
	width: 375px;
	border: 1px solid transparent;
	height: 34px;
	outline: none;
	margin: 1px;
}

div.searchDiv button {
	width: 110px;
	border: 1px solid transparent;
	background-color: rgb(146, 143, 143);
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.cart-page_header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 24px;
}

.cart-page_header h4 {
	font-size: 24px;
}

.cart-page_header-welcome {
	font-size: 20px;
	vertical-align: middle;
}

.cart-page_wrapper {
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 64px;
}

.cart-page_product-list {
	width: 60%;
	padding-right: 24px;
}

.cart-page_product-row:first-child {
	border-top: 1px solid #d5d5d8;
}

.cart-page_product-row {
	display: flex;
	align-items: flex-start;
	padding: 24px 0;
	border-bottom: 1px solid #d5d5d8;
	position: relative;
}

.cart-page_product-row .product-row_image {
	width: 100%;
	max-width: 155px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ededf0;
	border-radius: 3px;
	box-shadow: 0 10px 5px -5px rgb(0 0 0 / 5%);
	margin-right: 21px;
	flex-shrink: 0;
	position: relative;
	top: 0;
	left: 0;
}

.cart-page_product-row .product-row_content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cart-page_product-row .product-row_meta {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	min-height: 0;
	overflow: hidden;
}

.product-row_meta-title {
	display: inline-block;
	color: #303538;
	font-weight: 700;
	margin-right: 4px;
}

.product-row_desc {
	width: 75%;
}

.cart-page_product-row .product-row_tally {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: center;
	position: absolute;
	bottom: 45%;
	right: 0;
}

.product-row_item-total {
	text-align: right;
	margin-bottom: 8px;
}

.cart-page__banner {
    background-color: rgba(185,221,255,.6);
    padding: 24px 32px 23px;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.sp-subhead {
	font-size: 18px;
	color: black;
	font-weight: bold;
}

.sp-button {
	border-radius: 3px;
	font-weight: 700;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: .25s;
	color: #088178;
	padding: 0;
}

.sp-button :hover {
	color:rgb(4, 68, 68)
}

div.line {
	padding: 0 20px 0;
	margin: 20px 0;
	line-height: 1px;
	border-left: 200px solid #ddd;
	border-right: 200px solid #ddd;
	text-align: center;
}

.refinements {
	display: inline-block;
	background-color: white;
	box-shadow: 0 10px 5px -5px rgb(0 0 0 / 5%);
	border: solid 1px #ededf0;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 20px;
	vertical-align: top;
	/* width: 100%; */
	width: 20%;
}

.personalInfo {
	display: inline-block;
	background-color: white;
	box-shadow: 0 10px 5px -5px rgb(0 0 0 / 5%);
	border: solid 1px #ededf0;
	border-radius: 5px;
	overflow: hidden;
	padding: 0px 20px 10px;
	/* padding-bottom: 20px; */
	vertical-align: top;
	/* width: 100%; */
	width: 33%;
}

section.fieldset {
	padding-left: 50px;
	margin: 20px 0px;
}

section.fieldset header, div.personalInfo header {
	color: black;
	font-size: 20px;
	margin-top: 10px;
}

input[type=radio]:not(:checked)+label {
	color: rgb(153, 147, 147)
}

.refinements_radiobutton label {
	color: black;
	font-size: .875rem;
}

div.buttons {
	display: flex;
	justify-content: center;
}

.refinements button {
	width: 30%;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 20px;
	font-family: sofia-pro;
	text-align: center;
	/* display: block; */
	margin: 10px 10px;
	padding: 1pxf;
}

div.search-result {
	/* max-width: 1013px; */
	display: inline-block;
	vertical-align: top;
	/* margin-left: 265px; */
	width: 950px;
	margin: 0px 10px;
	/* margin: 10px auto; */
	min-height: 300px;
	/* float: left; */
}
.search-result .result-header {
	margin-bottom: 2rem;
	font-size: 18px;
	margin-left: 30px;
    font-weight: bold;
}
  
.search-result .result-header .records {
	color: #3c4142;
}
  
.search-result .result-header .result-actions {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-result .result-header .result-actions .result-sorting {
	display: flex;
	align-items: center;
}
  
.search-result .result-header .result-actions .result-sorting span {
	flex-shrink: 0;
	font-size: 0.8125rem;
}
  
.search-result .result-header .result-actions .result-sorting select {
	color: black;
}

.search-result .result-header .result-actions .result-sorting select option {
	color: #3c4142;
}
  

div.productUnit {
	width: 250px;
	height: 338px;
	border: 1px solid rgb(190, 189, 189);
	background-color: white;
	margin: 10px 30px;
	/* margin: 12px 5px; */
	float: left;
	/*行间距回归正常*/
	line-height: normal;
	position:relative;
}

div.productUnit:hover {
	box-shadow: 1px 1px 10px 2px #ccc;
	transform: translateY(-2%);
}

div.productUnit a.productLink {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
}

div.productUnit a:hover {
	color: #C40000;
}

div.productUnit a:visited {
	color: dimgray;
}

div.productUnit img.productImage {
	width: 100%;
	height: 190px;
}

div.productInfo {
	padding: 2px;
}


div.productInfo span.productDesc {
	/* display: inline-block; */
	/* height: 100px; */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

div.productArtist {
	display: inline-block;
	/* vertical-align: bottom; */
}

.productPrice {
	position: absolute;
    bottom: 0;
    left: 0;
}

.productView {
	position: absolute;
    bottom: 0;
    right: 0;
}

div.pagination {
	display: block;
	text-align: center;
	margin-top: 20px;
}


ul.pagination .disable span {
	cursor: not-allowed;
	color: #ccc !important;
}

ul.pagination li {
	display: inline;
}

/* ul.pagination li a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
} */

ul.pagination li a, ul.pagination li span {
	color: #666;
	font-size: 14px;
	/* display: inline-block; */
	padding: 0 12px;
	line-height: 32px;
	margin-right: 6px;
	cursor: pointer;
	/* border-radius: 99px; */
	transition: background-color .2s;
}

ul span.active {
	color: #fff !important;
	background: dimgray;
}

/*Collections.html */

div.setlist {
	border-bottom: 1px dashed #CCCCCC;
	margin-top: 20px;
	padding-bottom: 10px;
}

div.setlist .label {
	display: inline-block;
	width: 100px;
	margin-left: 4px;
	/* border-bottom: 3px; */
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: left;
}

.text {
	display: inline-block;
	/* float: left; */
	font-size: 14px;
}

.container{
	position: relative;
	margin:auto;
	width: 450px;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
h1.label{
	margin: auto;
	padding: 20px 130px;
	font-size: 28px;
	font-weight: bold;
	color: #130f40;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error, 
.login_form #pass_tip,
.login_form #cpwd_error,
.login_form #cpwd_tip
{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}